<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="bannoiFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BNSDATA_EHREntities" connectionString="metadata=res://*/Dataset.BNSDATA_EHR.csdl|res://*/Dataset.BNSDATA_EHR.ssdl|res://*/Dataset.BNSDATA_EHR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.9;initial catalog=BNSDATA_EHR;persist security info=True;user id=sa;password=sqlampwd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <userSettings>
    <bannoiFramework.Properties.Settings>
      <setting name="defaultConnectionString" serializeAs="String">
        <value>Data Source=192.168.1.9;Initial Catalog=DMPDATAWEB_EN;Persist Security Info=True;User ID=sa;Password=sqlampwd</value>
      </setting>
    </bannoiFramework.Properties.Settings>
  </userSettings>
</configuration>